body {
  margin-inline-start: 20px;
  margin-inline: 36px;
}

.togo-filled-00 {
  --fill-color: var(--black, #111);
  --text-color: var(--white, #fff);

  border: 0;
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-block-start: 4.375rem;

  background: var(--fill-color, #111);
  color: var(--text-color, #fff);

  &:hover {
    --fill-color: var(--grey-400, #757575)
  }
}

.signin-page_wrapper {
  max-width: 504px;
  margin-inline: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.togo-main-logo {
  margin-block: 1.25rem;
  align-self: flex-start;
}

.sign-in-message {
  color: var(--black);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  align-self: flex-start;
  margin-block-end: 1.75rem;
}

.signup-name-input_wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: .75rem;
  margin-block-end: 1.25rem;
  width: 100%;

  .form-input__name {
    display: contents;
  }
}

.form-input {
  /* background: yellow; */
  --size: 2rem;
  margin-block-end: 1.25rem;
  width: 100%;
  

  .form-input__input {
    block-size: var(--size);
    border: 1px solid var(--grey-500, #707072);
    border-radius: 8px;
    padding: 1rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
  }

  .form-input__input::placeholder {
    color: var(--grey-500, #707072);
    font-size: 1rem;
    line-height: 1.5rem;
  }

}

.form-input-rule {
  width: 100%;

  .form-input__input {
    display: flex;
  }

  .input-rule {
    color: var(--grey-500, #707072);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    margin-block-start: 1rem;

    display: flex;
    flex-flow: row nowrap;
    position: relative;
    gap: 0.25rem;

    .input-rule__checked {
      display: none;
    }
  }

  .form-input__input:valid + .input-rule {
    color: var(--green);

    .input-rule__checked {
      display: inline-block;
    }

    .input-rule__Xchecked {
      display: none;
    }
  }
}

.agreement-checkbox {
  --size: 20px;

  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  position: relative;
  cursor: pointer;
  line-height: 1.5rem;
  align-self: flex-start;

  color: var(--black, #111);

  .agreement-message__togo {
    text-decoration: underline;
    text-underline-offset: 0.125rem;
    font-weight: 700;
  }

  .agreement-checkbox-input {
    position: absolute;
    accent-color: var(--red);
    width: var(--size);
    height: var(--size);
    opacity: 0;
    cursor: pointer;

    &:focus + svg {
      outline: 2px solid blue;
      outline-offset: 2px;
    }
  }

  .fill-color-border {
    fill: var(--black, #111);
  }

  .fill-color-content {
    fill: var(--white, #fff);
  }

  .fill-color-check {
    fill: none;
  }

  .agreement-checkbox-input:checked + .checkbox-black {
    .fill-color-content {
      fill: var(--black, #111);
    }

    .fill-color-check {
      fill: var(--white, #fff);
    }
  }
}