body {
  margin-inline-start: 20px;
  margin-inline: 36px;
}

.button-outlined {
  --fill-color: var(--white, #fff);
  --text-color: var(--black, #111);

  border: 1px solid var(--grey-200, #cacacb);
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 500;

  &.button-outlined-00 {
    background: var(--fill-color, #111);
    color: var(--text-color, #fff);
  }

  &:hover {
    --fill-color: var(--grey-400, #757575);
  }
}

.button-filled {
  --fill-color: var(--black, #111);
  --text-color: var(--white, #fff);

  border: 0;
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 500;

  &.button-filled-00 {
    background: var(--fill-color, #111);
    color: var(--text-color, #fff);
  }

  &:hover {
    --fill-color: var(--grey-400, #757575);
  }
}

.signin-page_wrapper {
  max-width: 504px;
  margin-inline: auto;
}

.togo-main-logo {
  margin-block: 1.25rem;
}

.sign-in-message {
  color: var(--black, #111);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin-block-end: 0.625rem;
}

.sign-in-test-email {
  color: var(--black, #111);
  margin-block-end: 1.625rem;
}

.form-input {
  /* background: yellow; */
  --size: 2rem;
  margin-block-end: 1.25rem;

  .form-input__input {
    block-size: var(--size);
    border: 1px solid var(--grey-500, #707072);
    border-radius: 8px;
    padding: 1rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
  }

  .form-input__input::placeholder {
    color: var(--grey-500, #707072);
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .form-input__input:user-invalid + p {
    visibility: visible;
  }

  .form-input__input:user-invalid {
    border-color: var(--red, #b40000);
  }

  .form-input__error-message {
    font-size: 12px;
    color: var(--red, #b40000);
    margin-block-start: 0.5rem;
    visibility: hidden;
  }
}

.sign-in-find-password {
  color: var(--grey-400, #757575);
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.sign-in-button_wrapper {
  display: flex;
  justify-content: space-between;
  margin-block-start: 5.625rem;
}
