@import './page_heading.css';

.basket__summary {
  text-align: center;

  p {
    font-size: var(--text-2);
    line-height: 28px;
    display: inline-block;
  }

  .basket__summary-quantity {
    color: var(--grey-500);
  }

  .basket__summary-price {
    color: var(--black);
  }

  @media (width >= 960px) {
    display: none;
  }
}
