@import './component_wrapper.css';

.container {
  display: flex;
  flex-flow: column nowrap;

  text-align: center;

  :first-child {
    text-align: left;
  }
}

/* a 태그를 사용한 링크 버튼 */

.togo-filled-00 {
  --fill-color: var(--black, #111);
  --text-color: var(--white, #fff);

  border: 0;
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 500;

  background: var(--fill-color, #111);
  color: var(--text-color, #fff);

  &:hover {
    --fill-color: var(--grey-400, #757575);
  }
}

.togo-filled-gray {
  --fill-color: var(--grey-300, #9292a0);
  --text-color: var(--white, #fff);
}

.togo-filled-white {
  --fill-color: var(--white, #fff);
  --text-color: var(--black, #111);
}
.togo-outlined-00 {
  --fill-color: var(--white, #fff);
  --text-color: var(--black, #111);

  border: 1px solid var(--grey-200, #cacacb);
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 500;

  background: var(--fill-color, #fff);
  color: var(--text-color, #111);

  &:hover {
    --fill-color: var(--grey-400, #757575);
  }
}

.button-filled {
  --fill-color: var(--black, #111);
  --text-color: var(--white, #fff);

  border: 0;
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 500;

  &.button-filled-00 {
    background: var(--fill-color, #111);
    color: var(--text-color, #fff);
  }

  &:hover {
    --fill-color: var(--grey-400, #757575);
  }
}

.button-outlined {
  --fill-color: var(--white, #fff);
  --text-color: var(--black, #111);

  border: 1px solid var(--grey-200, #cacacb);
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 500;

  &.button-outlined-00 {
    background: var(--fill-color, #111);
    color: var(--text-color, #fff);
  }

  &:hover {
    --fill-color: var(--grey-400, #757575);
  }
}
