.togo-filled {
  --fill-color: var(--black, #111);
  --text-color: var(--white, #fff);

  border: 0;
  padding: 12px 30px;
  border-radius: 999px;
  font-weight: 500;
  width: fit-content;

  &.togo-filled-00 {
    background: var(--fill-color, #111);
    color: var(--text-color, #fff);
  }

  &:hover {
    --fill-color: var(--grey-400);
  }
}

.mainpage-card-single {
  .mainpage-card-single__image {
    inline-size: 100%;
    margin-block: 1.5rem;
  }

  .mainpage-card-single__text {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    .mainpage-card-single__category {
      color: var(--black, #111);
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.75rem;
    }

    .mainpage-card-single__title {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 3rem;
      text-transform: uppercase;

      @media (width >= 600px) {
        font-size: 3.75rem;
        font-weight: 900;
        line-height: 4.5rem;
      }
    }

    .mainpage-card-single__message {
      color: var(--black, #111);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.75rem;
    }
  }

  .mainpage-card-single__togo {
    display: block;
    width: fit-content;
    margin-block: 1.5rem;
    text-align: center;
  }

  @media (width >= 600px) {
    .mainpage-card-single__text {
      align-items: center;

      .mainpage-card-single__category {
        text-align: center;
      }

      .mainpage-card-single__title {
        text-align: center;
      }

      .mainpage-card-single__message {
        text-align: center;
      }
    }

    .mainpage-card-single__togo {
      margin-inline: auto;
    }
  }
}
