@import '/src/components/styles/page_heading.css';

.order-info {
  background: var(--white);
  padding: 2.5rem 0;


  border-top: 1px solid var(--grey-100);
  border-bottom: 1px solid var(--grey-100);

  @media (width >=960px) {
    border: none;
  }

  .order-info__list {
    display: grid;

    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-template-rows: repeat(3, auto);

    padding-top: 1.5rem;

    font-size: var(--text-2);
    line-height: 28px;

    .order-info__list-detail {
      text-align: end;
    }

    .order-info__list-term--bold,
    .order-info__list-detail--bold {
      font-weight: 500;
      padding-top: 0.75rem;

      @media (width >= 960px) {
        border-top: 1px solid var(--grey-100);
        border-bottom: 1px solid var(--grey-100);

        padding: 1rem 0;
        margin: 1.25rem 0;
      }
    }
  }
}
