<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/buttons-components.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 검은색 채우기 버튼 -->
    <button type="submit" class="button-filled button-filled-00">버튼제목</button>
    <!-- 검은색 아웃라인 버튼 -->
    <button type="submit" class="button-outlined button-outlined-00">버튼제목</button>

    <!-- 검은색 채우기 togoLink -->
    <!-- '계속'이나 '다음페이지로 이동' 등의 기능 구현시 버튼보다 링크텍스트가 필요해보여 추가했습니다. -->
    <a href="/" class="togo-filled-00">링크버튼제목</a>
    <!-- 검은색 아웃라인 togoLink -->
    <a href="/" class="togo-outlined-00">링크버튼제목</a>
  </body>
</html>
