<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/customer-service.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="component-page">
    <h1>고객센터</h1>

    <h2>문의하기</h2>
    <hr />
    <br />

    <!-- 문의 유형 컴포넌트 -->
    <div class="customer-service-help-00">
      <svg class="customer-service-help-00__image" width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M32 35.2998H36C37.1935 35.2998 38.3381 34.8257 39.182 33.9818C40.0259 33.1379 40.5 31.9933 40.5 30.7998V12.7998C40.5 11.6063 40.0259 10.4617 39.182 9.61782C38.3381 8.77391 37.1935 8.2998 36 8.2998H12C10.8065 8.2998 9.66193 8.77391 8.81802 9.61782C7.97411 10.4617 7.5 11.6063 7.5 12.7998V30.7998C7.5 31.9933 7.97411 33.1379 8.81802 33.9818C9.66193 34.8257 10.8065 35.2998 12 35.2998H24C25.1935 35.2998 26.3381 35.7739 27.182 36.6178C28.0259 37.4617 28.5 38.6063 28.5 39.7998V42.7998M30 26.2998H15M33 17.2998H15"
          stroke="#111111"
          stroke-width="3"
        />
      </svg>
      <div class="customer-service-help-00__text">
        <h3>문의 유형</h3>
        <p>문의 연락처 또는 링크<br />연락 가능 시간<br />월요일 - 일요일(설/추석 연휴 제외)</p>
      </div>
    </div>

    <br />
    <hr />
    <br />

  </body>
</html>
