<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike - Delivery & Pick Up Info</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/delivery_pickup.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="component-title">delivery-pickup</div>
      <div class="delivery-pickup">
        <div class="delivery-pickup__section delivery-pickup__section--delivery">
          <p class="delivery-pickup__fee">무료 배송</p>
          <p class="delivery-pickup__date">도착 예정일: 6월 06일 (금)</p>
        </div>
        <div class="delivery-pickup__section delivery-pickup__section--pickup">
          <p class="delivery-pickup__fee">무료 픽업</p>
          <a href="/" class="delivery-pickup__store-link">매장 찾기</a>
        </div>
      </div>
    </div>
  </body>
</html>
