<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/detail-page-product-options__sustainability-note.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="compoenent-title">detail-page-product-options__sustainability-note</div>
        <div class="product-options__sustainability-note"><p>이 제품은 무게 기준 20% 이상 재생 소재를 사용해 제작되었습니다.</p></div>
    </div>
  </body>
</html>