<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/detailpage/detail-page-related-products__header.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="compoenent-title">detail-page-related-products__header</div>
        <div class="related-products__header">
            <h2>추천 제품</h2>
            <div class="related-products__navigation">
              <button class="related-products__arrow related-products__arrow--prev" aria-label="이전 제품 보기"><img src="/src/assets/icon/carousel-left.svg" alt="Previous products"></button>
              <button class="related-products__arrow related-products__arrow--next" aria-label="다음 제품 보기"><img src="/src/assets/icon/carousel-right.svg" alt="Next products"></button>
            </div>
          </div>
    </div>
  </body>
</html>
