<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/detail-page-product-options__type-selection.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="compoenent-title">detail-page-product-options__type-selection</div>
        <div class="product-options__type-selection">
            <button class="product-options__type-item" style="border: 1px solid var(--black)"><img src="/src/assets/images/preview/product_type_4.png" alt="Product type 4" /></button>
            <button class="product-options__type-item"><img src="/src/assets/images/preview/product_type_1.png" alt="Product type 1" /></button>
            <button class="product-options__type-item"><img src="/src/assets/images/preview/product_type_2.png" alt="Product type 2" /></button>
            <button class="product-options__type-item"><img src="/src/assets/images/preview/product_type_3.png" alt="Product type 3" /></button>
            <button class="product-options__type-item"><img src="/src/assets/images/preview/product_type_5.png" alt="Product type 5" /></button>
            <button class="product-options__type-item"><img src="/src/assets/images/preview/product_type_6.jpg" alt="Product type 6" /></button>
          </div>
    </div>
  </body>
</html>