<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/detail-page-product-options__description.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="compoenent-title">detail-page-product-options__description</div>
        <div class="product-options__description">
            <p>나이키가 세계적인 무대에 오르는 브레이크 댄서를 위해 제작한 첫 신발인 잼과 함께 몸과 마음, 정신을 하나로 만들어 보세요. 신발의 모든 디테일을 꼼꼼히 제작했기 때문에 자신 있게 사이퍼에 도전할 수 있습니다. 유연한 갑피가 몸을 따라 움직이며 내구성이 뛰어난 레이어드 디자인으로 플로어 동작도 문제 없습니다. 중창에는 텍스처 처리된 핸드 그립이 적용되어 필요한 부위에 안정성을 더해줍니다. 그리고 프리즈 자세를 취하면 위아래가 뒤집힌 로고가 오른쪽에 보이는 재미를 더했습니다.</p>
          </div>
          <div class="product-options__serial-info">
            <ul>
              <li>현재 컬러: 다크 드리프트우드/헴프/세일/블랙</li>
              <li>스타일 번호: FN0314-200</li>
            </ul>
          </div>
    </div>
  </body>
</html>