<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/detail-page-related-products.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="compoenent-title">detail-page-related-products</div>
        <section class="related-products">
            <div class="related-products__header">
              <h2>추천 제품</h2>
              <div class="related-products__navigation">
                <button class="related-products__arrow related-products__arrow--prev" aria-label="이전 제품 보기"><img src="/src/assets/icon/carousel-left.svg" alt="Previous products"></button>
                <button class="related-products__arrow related-products__arrow--next" aria-label="다음 제품 보기"><img src="/src/assets/icon/carousel-right.svg" alt="Next products"></button>
              </div>
            </div>
            <div class="related-products__scroll-container">
              <div class="related-products__list">
                <article class="product-card">
                  <a href="#">
                    <div class="product-card__image-wrapper">
                      <img src="/src/assets/images/preview/recommended_product1.png" alt="나이키 줌 보메로 5" />
                    </div>
                    <div class="product-card__info">
                      <h3 class="product-card__name">나이키 줌 보메로 5</h3>
                      <p class="product-card__category">남성 신발</p>
                      <p class="product-card__price">189,000 원</p>
                    </div>
                  </a>
                </article>
                <article class="product-card">
                  <a href="#">
                    <div class="product-card__image-wrapper">
                      <img src="/src/assets/images/preview/recommended_product2.png" alt="나이키 클럽 언스트럭쳐 데님 캡" />
                    </div>
                    <div class="product-card__info">
                      <h3 class="product-card__name">나이키 클럽</h3>
                      <p class="product-card__category">언스트럭쳐 데님 캡</p>
                      <p class="product-card__price">39,000 원</p>
                    </div>
                  </a>
                </article>
                <article class="product-card">
                  <a href="#">
                    <div class="product-card__image-wrapper">
                      <img src="/src/assets/images/preview/recommended_product3.png" alt="나이키 에어포스 1 '07" />
                    </div>
                    <div class="product-card__info">
                      <h3 class="product-card__name">나이키 에어포스 1 '07</h3>
                      <p class="product-card__category">남성 신발</p>
                      <p class="product-card__price">139,000 원</p>
                    </div>
                  </a>
                </article>
                <article class="product-card">
                  <a href="#">
                    <div class="product-card__image-wrapper">
                      <img src="/src/assets/images/preview/recommended_product3.png" alt="나이키 에어포스 1 '07" />
                    </div>
                    <div class="product-card__info">
                      <h3 class="product-card__name">나이키 에어포스 1 '07</h3>
                      <p class="product-card__category">남성 신발</p>
                      <p class="product-card__price">139,000 원</p>
                    </div>
                  </a>
                </article>
              </div>
            </div>
          </section>
    </div>
  </body>
</html>