<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/detail-page-buttons.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="compoenent-title">detail-page-buttons</div>
      <button class="product-options__type-item"><img src="/src/assets/images/preview/product_type_1.png" alt="Product type 1" /></button>
      <button class="product-options__size-item">220</button>
      <button class="product-options__action-button product-options__action-button--add-to-cart">장바구니</button>
      <button class="product-options__action-button product-options__action-button--wishlist">위시리스트<img src="/src/assets/icon/empty-heart.svg" alt="Add to wishlist" /></button>
      <div class="product-options__details-link-container"><button class="product-options__details-link">상품 상세 정보 보기</button></div>
      <div class="related-products__navigation">
        <button class="related-products__arrow related-products__arrow--prev" aria-label="이전 제품 보기"><img src="/src/assets/icon/carousel-left.svg" alt="Previous products" /></button>
        <button class="related-products__arrow related-products__arrow--next" aria-label="다음 제품 보기"><img src="/src/assets/icon/carousel-right.svg" alt="Next products" /></button>
      </div>
      <div class="image-carousel__controls">
        <button class="image-carousel__button image-carousel__button--prev" aria-label="Previous image"></button>
        <button class="image-carousel__button image-carousel__button--next" aria-label="Next image"></button>
      </div>
    </div>
  </body>
</html>
