<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/footer.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="component-title">footer</div>
      <footer>
        <div class="f__dropdown">
          <div class="footer__dropdown">
            <input type="checkbox" id="footer__dropdown1" hidden />
            <label for="footer__dropdown1" class="dropdown__list">
              <span>안내</span
              ><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9662 8.97595L12.0002 15.943L5.0332 8.97595" stroke="#111111" stroke-width="1.5" />
              </svg>
            </label>
            <div class="dropdown__list-content1">
              <ul>
                <li><a href="/src/pages/signup-agreement.html">멤버가입</a></li>
                <li><a href="/src/pages/find-store__page.html">매장찾기</a></li>
                <li><a href="/src/pages/mainpage-contents-page.html">나이키 저널</a></li>
              </ul>
            </div>
          </div>

          <div class="footer__dropdown">
            <input type="checkbox" id="footer__dropdown2" hidden />
            <label for="footer__dropdown2" class="dropdown__list">
              <span>고객센터</span
              ><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9662 8.97595L12.0002 15.943L5.0332 8.97595" stroke="#111111" stroke-width="1.5" />
              </svg>
            </label>
            <div class="dropdown__list-content2">
              <ul>
                <li><a href="/src/pages/gethelp-page.html">주문배송조회</a></li>
                <li><a href="/src/pages/gethelp-page.html">반품정책</a></li>
                <li><a href="/src/pages/gethelp-page.html">결제 방법</a></li>
                <li><a href="/src/pages/gethelp-page.html">공지사항</a></li>
                <li><a href="/src/pages/gethelp-page.html">문의하기</a></li>
              </ul>
            </div>
          </div>

          <div class="footer__dropdown">
            <input type="checkbox" id="footer__dropdown3" hidden />
            <label for="footer__dropdown3" class="dropdown__list dropdown__list3">
              <span>회사소개</span
              ><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9662 8.97595L12.0002 15.943L5.0332 8.97595" stroke="#111111" stroke-width="1.5" />
              </svg>
            </label>
            <div class="dropdown__list-content3">
              <ul>
                <li><a href="/">About Nike</a></li>
                <li><a href="/">소식</a></li>
                <li><a href="/">채용</a></li>
                <li><a href="/">투자자</a></li>
                <li><a href="/">지속가능성</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer__terms">
          <p>ⓒ 2024 Nike, Inc. All Rights Reserved</p>
          <a href="/"><p>이용약관</p></a>
          <a href="/"
            ><p><span>개인정보처리방침</span></p></a
          >
          <a href="/"><p>위치정보이용약관</p></a>
          <a href="/"><p>영상정보처리기기 운영 방침</p></a>
        </div>

        <div class="footer__company-info">
          <p>
            (유)나이키코리아 대표 Kimberlee Lynn Chang Mendes, 킴벌리 린 창 멘데스 | 서울 강남구 테헤란로 152 강남파이낸스센터 30층 | 통신판매업신고번호 2011-서울강남-03461 | 등록번호 220-88-09068 <u><a href="/">사업자 정보 확인</a></u>
          </p>
          <p>고객센터 전화 문의 <u>080-022-0182</u> FAX 02-6744-5880 | 이메일 <u>service@nike.co.kr</u> |</p>
          <p>호스팅서비스사업자 (유)나이키코리아</p>
        </div>
      </footer>
    </div>
  </body>
</html>
