<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/landing-card.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="compoenent-title">card</div>
      
      <section class="section">
        <article class="product-card product-card--list">
          <a href="#">
            <div class="product-card__image-wrapper">
              <img src="/src/assets/images/preview/product_list_item1.png" alt="남성 데님 쇼츠" />
            </div>
            <div class="product-card__info">
              <p class="product-card__tag">신제품</p>
              <h3 class="product-card__name">나이키 스포츠웨어</h3>
              <p class="product-card__category">남성 데님 쇼츠</p>
              <p class="product-card__color">1개 색상</p>
              <p class="product-card__price">69,000 원</p>
            </div>
          </a>
        </article>
      </section>

      <section class="section">
        <article class="product-card product-card--detail">
          <a href="#">
            <div class="product-card__image-wrapper">
              <img src="/src/assets/images/preview/recommended_product1.png" alt="나이키 줌 보메로 5" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__name">나이키 줌 보메로 5</h3>
              <p class="product-card__category">남성 신발</p>
              <p class="product-card__price">189,000 원</p>
            </div>
          </a>
        </article>

      </section>
    </div>
  </body>
</html>
