<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/landing-input.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="compoenent-title">inputs</div>

      <section>
        <form action="/" class="fs__form-input" method="GET">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.962 16.296C12.916 16.9224 11.7192 17.2521 10.5 17.25C9.6134 17.2512 8.7353 17.0772 7.91618 16.7379C7.09707 16.3986 6.35308 15.9008 5.72701 15.273C5.09924 14.6469 4.6014 13.9029 4.26212 13.0838C3.92284 12.2647 3.7488 11.3866 3.75001 10.5C3.75001 8.63601 4.50501 6.94901 5.72701 5.72701C6.35308 5.09924 7.09707 4.6014 7.91618 4.26212C8.7353 3.92284 9.6134 3.7488 10.5 3.75001C12.364 3.75001 14.051 4.50501 15.273 5.72701C15.9008 6.35308 16.3986 7.09707 16.7379 7.91618C17.0772 8.7353 17.2512 9.6134 17.25 10.5C17.2517 11.6974 16.9338 12.8736 16.329 13.907C15.812 14.789 15.895 15.895 16.618 16.618L20.471 20.471"
              stroke="#111111"
              stroke-width="1.5"
            />
          </svg>
          <label for="fs__form-input__label-01" class="sr-only">매장 위치 검색</label>
          <input class="fs__form-input__input" type="text" id="fs__form-input__label-01" placeholder="위치 검색" name="fs__form-input__name" />
        </form>
      </section>

      <section>
        <form method="POST" action="/src/pages/signup-create.html">
          <div class="agreement-checkbox agreement-checkbox-all">
            <input class="agreement-checkbox-input" type="checkbox" name="agree-all" id="agreement-checkbox-all" />
            <svg class="checkbox-black" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect class="fill-color-border" fill="#111111" x="0.5" y="0.5" width="19" height="19" rx="3.5" />
              <rect class="fill-color-content" stroke="#111111" x="0.5" y="0.5" width="19" height="19" rx="3.5" />
              <path class="fill-color-check" fill="white" d="M3.99529 9.99602C4.41211 9.63369 5.04373 9.67786 5.40606 10.0947L8.68635 13.8682L7.17693 15.1803L3.89664 11.4068C3.53431 10.99 3.57848 10.3584 3.99529 9.99602Z" />
              <path class="fill-color-check" fill="white" d="M6.25 14.34L14.1227 5.28345C14.485 4.86663 15.1167 4.82247 15.5335 5.1848C15.9503 5.54713 15.9945 6.17875 15.6321 6.59557L7.75942 15.6521L6.25 14.34Z" />
            </svg>
            <label for="agreement-checkbox-all" class="sr-only">모든 약관 동의</label>
            <p class="agreement">모든 약관에 동의합니다</p>
          </div>
          <div class="agreement-checkbox_wrapper">
            <div class="agreement-checkbox">
              <input class="agreement-checkbox-input" type="checkbox" name="terms-of-use" id="agreement-checkbox-01" />
              <svg class="checkbox-black" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="fill-color-border" fill="#111111" x="0.5" y="0.5" width="19" height="19" rx="3.5" />
                <rect class="fill-color-content" stroke="#111111" x="0.5" y="0.5" width="19" height="19" rx="3.5" />
                <path class="fill-color-check" fill="white" d="M3.99529 9.99602C4.41211 9.63369 5.04373 9.67786 5.40606 10.0947L8.68635 13.8682L7.17693 15.1803L3.89664 11.4068C3.53431 10.99 3.57848 10.3584 3.99529 9.99602Z" />
                <path class="fill-color-check" fill="white" d="M6.25 14.34L14.1227 5.28345C14.485 4.86663 15.1167 4.82247 15.5335 5.1848C15.9503 5.54713 15.9945 6.17875 15.6321 6.59557L7.75942 15.6521L6.25 14.34Z" />
              </svg>
              <label for="agreement-checkbox-01" class="sr-only">이용약관 동의</label>
              <p class="agreement"><a href="/index.html" target="_blank" rel="noopenner noreferrer" class="agreement-message__togo">이용약관</a>에 동의합니다 *</p>
            </div>
            <div class="agreement-checkbox">
              <input class="agreement-checkbox-input" type="checkbox" name="privacy-policy" id="agreement-checkbox-02" />
              <svg class="checkbox-black" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="fill-color-border" fill="#111111" x="0.5" y="0.5" width="19" height="19" rx="3.5" />
                <rect class="fill-color-content" stroke="#111111" x="0.5" y="0.5" width="19" height="19" rx="3.5" />
                <path class="fill-color-check" fill="white" d="M3.99529 9.99602C4.41211 9.63369 5.04373 9.67786 5.40606 10.0947L8.68635 13.8682L7.17693 15.1803L3.89664 11.4068C3.53431 10.99 3.57848 10.3584 3.99529 9.99602Z" />
                <path class="fill-color-check" fill="white" d="M6.25 14.34L14.1227 5.28345C14.485 4.86663 15.1167 4.82247 15.5335 5.1848C15.9503 5.54713 15.9945 6.17875 15.6321 6.59557L7.75942 15.6521L6.25 14.34Z" />
              </svg>
              <label for="agreement-checkbox-02" class="sr-only">개인정보 수집 및 이용 동의</label>
              <p class="agreement"><a href="/index.html" target="_blank" rel="noopenner noreferrer" class="agreement-message__togo">개인정보 수집 및 이용</a>에 동의합니다 *</p>
            </div>
            <div class="agreement-checkbox">
              <input class="agreement-checkbox-input" type="checkbox" name="third-party-sharing" id="agreement-checkbox-03" />
              <svg class="checkbox-black" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="fill-color-border" fill="#111111" x="0.5" y="0.5" width="19" height="19" rx="3.5" />
                <rect class="fill-color-content" stroke="#111111" x="0.5" y="0.5" width="19" height="19" rx="3.5" />
                <path class="fill-color-check" fill="white" d="M3.99529 9.99602C4.41211 9.63369 5.04373 9.67786 5.40606 10.0947L8.68635 13.8682L7.17693 15.1803L3.89664 11.4068C3.53431 10.99 3.57848 10.3584 3.99529 9.99602Z" />
                <path class="fill-color-check" fill="white" d="M6.25 14.34L14.1227 5.28345C14.485 4.86663 15.1167 4.82247 15.5335 5.1848C15.9503 5.54713 15.9945 6.17875 15.6321 6.59557L7.75942 15.6521L6.25 14.34Z" />
              </svg>
              <label for="agreement-checkbox-03" class="sr-only">개인정보 제3자 제공 및 국외 이전 동의</label>
              <p class="agreement"><a href="/index.html" target="_blank" rel="noopenner noreferrer" class="agreement-message__togo">개인 정보의 제3자 제공 및 국외 이전</a>에 동의합니다 *</p>
            </div>
          </div>
        </form>
      </section>

      <section>
        <form action="/" class="form-input" method="GET">
          <label for="form-input__label-01-comp" class="sr-only">입력서식 제목</label>
          <input class="form-input__input" aria-errormessage="form-input__error-01-comp" type="text" id="form-input__label-01-comp" required placeholder="플레이스홀더 텍스트" name="form-input__name-comp" />
          <p class="form-input__error-message" id="form-input__error-01-comp" aria-live="polite">에러 메시지</p>
        </form>
        <form action="/" class="form-input-rule form-input" method="GET">
          <label for="form-input__label-02-comp" class="sr-only">비밀번호</label>
          <input class="form-input__input" type="password" pattern=".{8,}" id="form-input__label-02-comp" required placeholder="비밀번호" name="form-input__name-comp-pw" />
          <div class="input-rule">
            <svg class="input-rule__checked" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 6.88462L6.61538 11.5L14.1154 4" stroke="#007D48" stroke-width="1.15385" />
            </svg>
            <svg class="input-rule__Xchecked" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 3L13 13" stroke="#707072" />
              <path d="M13 3L3 13" stroke="#707072" />
            </svg>
            <p class="input-rule-00">최소 8자</p>
          </div>
        </form>
      </section>
    </div>
  </body>
</html>
