<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/mainpage-components-single-card.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="mainpage-card-single">
      <picture class="mainpage-card-single__image">
        <source srcset="/src/assets/images/mainpage/mainpage-01.webp" type="image/webp" />
        <img src="/src/assets/images/mainpage/mainpage-01.png" alt="" />
      </picture>
      <div class="mainpage-card-single__text">
        <p class="mainpage-card-single__category">카테고리</p>
        <h3 class="mainpage-card-single__title">카드 메인 메시지</h3>
        <p class="mainpage-card-single__message">부가 설명 작성</p>
      </div>
      <a href="/" class="mainpage-card-single__togo togo-filled togo-filled-00">링크버튼제목</a>
    </div>
  </body>
</html>
