<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/mainpage-components-multicol-card.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h2 class="mainpage-card_middle-title">Win On Air</h2>
    <div class="mainpage-multicol-items">
      <div class="mainpage-multicol-items__link">
        <img class="mainpage-multicol-items__image" src="/src/assets/images/mainpage/mainpage-02-01.webp" alt="" />
        <a href="/src/pages/product_list_page.html"><h3 class="mainpage-card-multicol__title">카드제목</h3></a>
        <a href="/src/pages/product_list_page.html" class="togo-filled togo-filled-00 togo-filled-white">버튼제목</a>
      </div>
    </div>
  </body>
</html>
