<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/product-list-page-headers.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
       <div class="compoenent-title" >product-list-page-headers</div>
       <div class="product-list-header" style="min-width:400px; width: 800px;">
        <h1 class="product-list-header__title">신제품 (749)</h1>
        <div class="product-list-header__right">
          <button class="product-list-header__filter-toggle" aria-label="필터 숨기기">필터 숨기기 <img src="/src/assets/icon/filter.svg" alt="필터 아이콘" /></button>
          <button class="product-filter-drop-down" aria-expanded="false" aria-haspopup="true"><span>정렬 기준 :&nbsp;</span><img src="/src/assets/icon/down.svg" alt="정렬 기준 선택" /></button>
        </div>
      </div>
      <div class="product-list-main__header__mobile" style="min-width:400px; width: 800px;">
        <div class="product-list-main__header__mobile__result">741개의 결과</div>
        <button class="product-list-main__header__mobile__filter" aria-label="필터 메뉴 열기">필터<img src="/src/assets/icon/filter.svg" alt="필터 아이콘" /></button>
      </div>
      <div class="product-list-cartegory-mobile">
        <ul>
          <li><a href="">신발</a></li>
          <li><a href="">탑 & 티셔츠</a></li>
          <li><a href="">후디 & 크루</a></li>
          <li><a href="">재킷 & 베스트</a></li>
          <li><a href="">팬츠 & 타이즈</a></li>
          <li><a href="">쇼츠</a></li>
          <li><a href="">스포츠 브라</a></li>
          <li><a href="">트랙수트</a></li>
          <li><a href="">점프수트 & 롬퍼스</a></li>
          <li><a href="">스커트 & 드레스</a></li>
          <li><a href="">양말</a></li>
          <li><a href="">용품</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
