<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/product-list-page-card-list.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="compoenent-title">product-list-page-card-list</div>
      <div class="product-list-main-content__list">
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item1.png" alt="남성 데님 쇼츠" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">신제품</p>
                <h3 class="product-card__name">나이키 스포츠웨어</h3>
                <p class="product-card__category">남성 데님 쇼츠</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">69,000 원</p>
              </div>
            </a>
          </article>
        </div>
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item6.png" alt="에어 조던 4 레트로 화이트 시멘트" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">SNKRS</p>
                <h3 class="product-card__name">에어 조던 4 레트로 '화이트 시멘트'</h3>
                <p class="product-card__category">남성 신발</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">279,000 원</p>
              </div>
            </a>
          </article>
        </div>
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item7.png" alt="조던 에센셜 남성 반팔 탑" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">신제품</p>
                <h3 class="product-card__name">조던 에센셜</h3>
                <p class="product-card__category">남성 반팔 탑</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">109,000 원</p>
              </div>
            </a>
          </article>
        </div>
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item3.png" alt="모노그램 슬링 백(3L)" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">신제품</p>
                <h3 class="product-card__name">조던</h3>
                <p class="product-card__category">모노그램 슬링 백(3L)</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">45,000 원</p>
              </div>
            </a>
          </article>
        </div>
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item4.png" alt="모노그램 더플백(25L)" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">신제품</p>
                <h3 class="product-card__name">조던</h3>
                <p class="product-card__category">모노그램 더플백(25L)</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">169,000 원</p>
              </div>
            </a>
          </article>
        </div>
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item5.png" alt="첼시 F.C 2025/26 스타디움 홈" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">신제품</p>
                <h3 class="product-card__name">첼시 F.C 2025/26 스타디움 홈</h3>
                <p class="product-card__category">남성 나이키 드라이 핏 축구 레플리카</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">135,000 원</p>
              </div>
            </a>
          </article>
        </div>
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item8.png" alt="조던 티셔츠" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">SNKRS</p>
                <h3 class="product-card__name">조던</h3>
                <p class="product-card__category">남성 대한민국 티셔츠</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">65,000 원</p>
              </div>
            </a>
          </article>
        </div>
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item9.png" alt="나이키 에어" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">신제품</p>
                <h3 class="product-card__name">나이키 에어</h3>
                <p class="product-card__category">여성 미드라이즈 브레이크 어웨이 팬츠</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">115,000 원</p>
              </div>
            </a>
          </article>
        </div>
        <div class="product-list-main-contnet__list_item product-card">
          <article class="product-card">
            <a href="#">
              <div class="product-card__image-wrapper">
                <img src="/src/assets/images/preview/product_list_item2.png" alt="나이키 스트릭플라이 2" />
              </div>
              <div class="product-card__info">
                <p class="product-card__tag">신제품</p>
                <h3 class="product-card__name">나이키 스트릭플라이 2</h3>
                <p class="product-card__category">로드 레이싱화</p>
                <p class="product-card__color">1개 색상</p>
                <p class="product-card__price">189,000 원</p>
              </div>
            </a>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
