<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <link rel="icon" href="/src/assets/logo/logo.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/styles/product-list-page-buttons.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="compoenent-title">product-list-page-buttons</div>
        <div class="product-list-header__right">
          <button class="product-list-header__filter-toggle" aria-label="필터 숨기기">필터 숨기기 <img src="/src/assets/icon/filter.svg" alt="필터 아이콘" /></button>
          <button class="product-filter-drop-down" aria-expanded="false" aria-haspopup="true"><span>정렬 기준 :&nbsp;</span><img src="/src/assets/icon/down.svg" alt="정렬 기준 선택" /></button>
        </div>
        <li class="product-list-page-theme-item"><a href="">탑 & 티셔츠</a></li>
        <div><input type="checkbox" /><label for=""> 남성</label></div>
        <button class="product-list-main__header__mobile__filter" style="width: max-content;"  aria-label="필터 메뉴 열기">필터<img src="/src/assets/icon/filter.svg" alt="필터 아이콘" /></button>
    </div>
  </body>
</html>
