:root {
  --grey-100: #e5e5e5;
  --grey-200: #cacacb;
  --grey-300: #9e9ea0;
  --grey-400: #757575;
  --grey-500: #707072;
  --green: #007d48;
  --red: #b40000;

  --black: #111;
  --white: #fff;

  --text-0: 12px;
  --text-1: 14px;
  --text-2: 16px;
  --text-3: 20px;
  --text-4: 24px;
}
